body {
  background-color: #E5D4BA;
  color: #333; /* ciemniejszy dla lepszej czytelności */
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding-top: 50px;
  margin: 0;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px; /* dostosuj wielkość loga */
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 30px;
}

#rollButton {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #4E0C00;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#rollButton:hover {
  background-color: #3c56cc;
}

#diceResult {
  font-size: 48px;
  margin: 30px 0 10px;
}

#questionBox {
  font-size: 22px;
  margin-top: 20px;
  background-color: #AF2323;
  color: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
